/* Base board.. version_01. */

header {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: black;
}

#gameTitle {
  display: inline-block;
}
#symbols {
  font-size: 15px;
}

#gameStatus {
  /* color: rgb(220,220,220); */
}

body {
  background-color: rgb(220,220,220);
}

div.container {
  max-width: 900px;
  min-width: 500px;
  margin: auto;
}

div.gameBoard {
  position: relative;
  max-width: 314px;
  margin: 50px auto;
  background-color: black;
}

.row1 button {
  display: inline-block;
}

.row2 button {
  display: inline-block;
}

.row3 button {
  display: inline-block;
}

button {
  width: 100px;
  height: 100px;
  margin: 1px;
  margin-top: 4px;
  font-size: 50px;
  color: rgb(240,240,240);
}

button:hover {
  color: rgb(229,229,229);
}
