/* game version_07.. AI row blocking and Random AI working.. */

body {
  background-color: rgb(220,220,220);
}

div.container {
  max-width: 870px;
  min-width: 870px;
  margin: auto;
}

header {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: black;
  height: 95px;
}

#gameTitle {
  display: inline-block;
}
#symbols {
  font-size: 15px;
}

.gameStatus {
  text-align: center;
  font-size: 20px;

}

/* div.boxLeft div.gameBoard div.boxRight {
  display: inline-block;
} */

/* .boxLeft {
    position: relative;
  min-width: 150px
  left: 300px;
}
.boxRight {
    position: relative;
  min-width: 150px;
} */
div.middle {
  min-width: 900px;
  min-height: 314px;
  /* border: 1px solid blue; */
}

.boxLeft, .boxRight {
  width: 30%;
  vertical-align: top;
  height: 100%;
  /* border: 1px solid red; */
}

.boxLeft, .boxRight {
  /* position: relative;
  right: 0px; */
  text-align: center;
  font-size: 22px;
}


.middleRowBox {
  display: inline-block;
  /* border: 5px solid red; */
}

div.gameBoard {
  position: relative;
  max-width: 314px;
  margin: 5px auto;
  background-color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.row1 button, .row2 button, .row3 button {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1px;
  margin-top: 4px;
  font-size: 50px;
  color: rgb(240,240,240);
}

.row1 button {
  margin-top: 1px;
}

button:hover {
  color: rgb(229,229,229);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gameOptions input {
  display: inline-block;
  /* position: relative; */
  /* left: 50%; */
  /* width: 800px; */
  font-size: 16px;
  margin: auto;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   /* border: 5px solid red; */
}
#onePlayerMode {
   width: 205px; /*so box stays same between toggling*/
}
