/* game version_11 .. Street Fighter characters added. */

body {
  background-color: rgb(220,220,220);
}

div.container {
  max-width: 870px;
  min-width: 870px;
  margin: auto;
}

header {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: black;
  height: 95px;
}

#gameTitle {
  display: inline-block;
}
#symbols {
  font-size: 15px;
}

.gameStatus {
  text-align: center;
  font-size: 20px;
}

div.middle {
  min-width: 900px;
  min-height: 314px;
}

.middleRowBox {
  display: inline-block;
  /* border: 5px solid red; */
}

.boxLeft, .boxRight {
  width: 30%;
  vertical-align: top;
  height: 100%;

}

.boxLeft, .boxRight {
  text-align: center;
  font-size: 22px;
  /* border: 3px solid red; */
}

/* .imageX{
  position: relative;
  top: -100px;
  /* top: -30px; */
  /* background-color: black; */


.imageX {
  shadow: 10px black;
  /* position: inherit;
  top: 360px;
  left: 220px; */
  /* margin: 80px auto; */
  /* top: -30px; */
  /* background-color: black; */
}
/* .playerX {
  position: absolute;
  margin: -10px 0px 0px 86px;
} */

.playerX {
  /* position: inherit;
  top: 20px;
  background-color: black; */
  /* background-position: */
  /* top: 360px;
  left: 220px; */
}
  /* #scoreX {
  position: inherit; */
  /* top: 380px;
  left: 840px; */
  /* top: 20px; */
  /* margin: 20px 0px 0px 0px; */


/* .player0 {
  position: absolute;
  top: 360px;
  left: 840px;
}

#score0 {
   position: inherit;
 } */

 div.gameBoard {
   position: relative;
   max-width: 314px;
   margin: 5px auto;
   background-color: grey;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }


.row1 button, .row2 button, .row3 button {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1px;
  margin-top: 4px;
  font-size: 50px;
  color: rgb(240,240,240);
}

.row1 button {
  margin-top: 1px;
}

button:hover {
  color: rgb(229,229,229);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gameOptions input {
  display: inline-block;
  font-size: 17px;
  margin: 0px 0px 5px 5px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  width: 200px;
}

.gameOptions {
  position: relative;
  margin: 25px auto;
  left: 25%;
}
