/* game version_05 Reset Functionality. Game Scores */

header {
  position: relative;
  text-align: center;
  font-size: 25px;
  color: black;
}

#gameTitle {
  display: inline-block;
}
#symbols {
  font-size: 15px;
}

body {
  background-color: rgb(220,220,220);
}

div.container {
  max-width: 900px;
  min-width: 600px;
  margin: auto;
}

/* div.boxLeft div.gameBoard div.boxRight {
  display: inline-block;
} */

/* .boxLeft {
    position: relative;
  min-width: 150px
  left: 300px;
}
.boxRight {
    position: relative;
  min-width: 150px;
} */
div.middle {
  min-width: 614px;

}
.middleRowBox {
  display: inline-block;
  border: 5px solid black;
}
div.gameBoard {
  position: relative;
  max-width: 314px;
  margin: 50px auto;
  background-color: black;
}

.row1 button, .row2 button, .row3 button {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 1px;
  margin-top: 4px;
  font-size: 50px;
  color: rgb(240,240,240);
}

.row1 button {
  margin-top: 1px;
}

button:hover {
  color: rgb(229,229,229);
}

.resetButtons {
  display: inline;
  position: relative;
  /* left: 50%; */
  margin: auto;
}

#reset #resetScore {

}
